.example-spacer {
  flex: 1 1 auto;
}
.header {
  flex-shrink: 0;
  background-color: #1e3a8a; /* deep blue */
  color: white;
  padding: 1rem 2rem;
  font-weight: 600;
}

.login-logo {
  width: 40px;
  margin: 0 auto 0 auto;
  display: block;
}
