<div class="dashboard-container">
  <header class="welcome-block">
    <h1>Welcome, {{ userName }}</h1>
    <p>Staff Dashboard Overview</p>
  </header>

  <div class="stats-grid">
    <app-stat-card
      title="Total Sign-Ins"
      [value]="statsData.signIn"
      [percentage]="null"
      icon="login"
      color="accent"
    >
    </app-stat-card>

    <app-stat-card
      title="Early Staff"
      [value]="statsData.earlyStaff.count"
      [percentage]="statsData.earlyStaff.percentage"
      icon="schedule"
      color="primary"
    >
    </app-stat-card>

    <app-stat-card
      title="Late Staff"
      [value]="statsData.lateStaff.count"
      [percentage]="statsData.lateStaff.percentage"
      icon="alarm_on"
      color="warn"
    >
    </app-stat-card>

    <app-stat-card
      title="Suspended Staff"
      [value]="statsData.suspendedStaff.count"
      [percentage]="statsData.suspendedStaff.percentage"
      icon="gavel"
      color="default"
    >
    </app-stat-card>
  </div>

  <mat-divider></mat-divider>

  <div class="comers-list-grid">
    <app-top-comers-list title=" Top Early Staffs" [staff]="topEarlyComers">
    </app-top-comers-list>

    <app-top-comers-list title=" Top Late Staffs" [staff]="topLateComers">
    </app-top-comers-list>
  </div>
</div>
