<div class="login-container">
  <form id="loginForm" [formGroup]="loginForm" class="login-form">
    <div>
      <p *ngIf="showEmail" class="company-name">{{ email?.value }}</p>
      <!-- <p *ngFor="let car of cars">{{ cars }}</p> -->
    </div>
    <div *ngSwitch="userCase">
      <p *ngSwitchCase="'admin'">Admin</p>
      <p *ngSwitchCase="'staff'">Staff</p>
      <p *ngSwitchCase="'guest'">Guest</p>
    </div>
    <mat-form-field class="form-field staff-id-field">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        formControlName="email"
        id="emailInput"
        class="form-input"
      />
    </mat-form-field>

    <mat-form-field class="form-field password-field">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        id="passwordInput"
        class="form-input"
      />
    </mat-form-field>

    <button
      type="submit"
      mat-raised-button
      color="primary"
      (click)="submitForm()"
      class="submit-button"
    >
      Secure Login
    </button>
  </form>
</div>
